js
assets/sounds/powerups.wav
assets/images/rock
assets/images/powerups/sprite_white.jpg
assets/images/powerups/gauntlet.jpg
assets/images/powerups/felix-felicis-CROP.jpg
assets/images/playandpause/white
assets/images/playandpause/black
duplicate.js